
ScrumTime/ScrumTime.Tests/bin/Debug/ScrumTime.dll
ScrumTime/ScrumTime/Content/Images/Arrows/Thumbs.db
ScrumTime/ScrumTime.Tests/bin/Debug/ScrumTime.pdb
ScrumTime/ScrumTime.Tests/bin/Debug/ScrumTime.pdb