# .gitignore for Grails 1.2 and 1.3

# web application files


# IDE support files
.launch
.settings
*.launch
*.tmproj
ivy*
eclipse


# default HSQL database files for production mode
prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
stacktrace.log
test/reports
logs

# project release file
*.war

#temporary build files (grails)
target
out

# plugin release files
*.zip
plugin.xml

# older plugin install locations
plugins
web-app/plugins

# other
*.iws

### AngularJS
node_modules
bower_components
*.log

build
dist

.tmp
.sass-cache
app/bower_components
documentation/~$DomainClasses.xlsx

# Node.js
node_modules