/**
Requires Settings Window
**/
.requiresSettingsDiv {
    width: 950px;
    height: 365px;
}
.requiresSettingsTitle {
    background: #cc0000;
    color:#ffff00;
}
.requiresSettingsContent{
    padding-top:10px; 
}

