.width100Percent {
    width: 100%;
}

.tableHeader {
    font-size: 13px;
    text-align: center;
    background-color: #eee;
    border-right: #aaa solid 1px;
    border-bottom: #aaa solid 1px;
}

.tableHeaderRight {
    border-right: 0;
}
.viewHeader {
    font-size: 10px;
    text-align: center;
    height: 16px;
    background-color: #e3e4e6;
    border-top: #b3b9c4 solid 1px;
}

.rightBorder {
    border-top: #b3b9c4 solid 1px;
    border-right: #b3b9c4 solid 1px;
}
/**
Common Filter Tr
**/
.filterTrEdit {
    vertical-align: text-top;
    padding-top: 4px;
    padding-left: 5px;
}

.tableDataDiv {
    overflow-y: scroll;
}

.tableData {
    font-size: 12px;
    text-align: center;
}
/**
Common Widths
**/

.width300 {
    width: 300px;
}

.width250 {
    width: 250px;
}

.width215 {
    width: 215px;
}

.width200 {
    width: 200px;
}

.width180 {
    width: 180px;
}

.width160 {
    width: 160px;
}

.width130 {
    width: 130px;
}

.width110 {
    width: 110px;
}

.width85 {
    width: 80px;
}

.width80 {
    width: 80px;
}

.width75 {
    width: 75px;
}

.width70 {
    width: 70px;
}

.width65{
    width: 65px;
}

.width60 {
    width: 60px;
}

.width50 {
    width: 50px;
}


/**
Common Heights
**/
.height30{
    height: 30px;
}
.height50{
    height: 50px;
}




