.editLabel {
    font-size: 12px;
    padding-right: 5px;
    padding-top:2px;
    vertical-align:text-top;
}

.editField {
    font-size: 12px;
}

.width60 {
    width: 60px;
}

.width110 {
    width: 110px;
}

.width180 {
    width: 180px;
}