<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Design</a></li>
    <li><a ng-href="#">Implement</a></li>
    <li><a ng-href="#">Test</a></li>
	<li><a ng-href="#">Maintain</a></li>
  </ul>
  <h3 class="text-muted"><img src="images/ScrumTimeLogo.png" alt="ScrumTime"><br></h3>
</div>

<div class="jumbotron">
  <h1>Welcome to ScrumTime!</h1>
  <p class="lead">    
    Agile application life cycle management system.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Start!</a></p>
</div>

<div class="row marketing">
  <h4>Features</h4>
  <p>
    Todo - Design, Implement, Test, Maintain
  </p>

  <h4>RESTful Data</h4>
  <p>
    RESTful backend data
  </p>

</div>

<div class="footer">
  <p>Footer</p>
</div>
