/**
   The main menu is defined in the main.css.

   This style sheet contains the settings for the main menu drop downs.
*/
/**
Common to drop downs
*/
.dropDownMenu{
    position:absolute;
    border-left:#e9c682 dotted 2px;
    border-right:#e9c682 dotted 2px;
    border-bottom:#e9c682 dotted 2px;
    height:100px;
    width:200px;
    margin-left:20px;
    background-color:#fff;
    z-index: 100;
}
.levelOne{
    padding-left:28px;
    font-size:12px;
}
.levelTwo{
    padding-left:48px;
    font-size:12px;
}
.levelThree{
    padding-left:68px;
    font-size:12px;
}

/**
Scrum Menu
*/
#scrumMenu{
    height:56px;
    width:164px;
    margin-left:117px;
}

/**
Release Menu
**/
#backlogMenu{
    height:114px;
    width:210px;
    margin-left:117px;
}

/**
Tools Menu
*/
#toolsMenu{
    height:286px;
    width:204px;
    margin-left:296px;
}

