/* Basic */
html {
    font-family: arial;
}

body {
    text-align: center;
}

a:link, a:visited {
    color: #666;
}

a:link.active, a:visited.active {
    border-bottom: #fff solid 1px;
    background-color: #fff;

}

a:hover {
/*background-color: #ffffcd;*/
    color: #00b;
}

/* ERRORS */
div.errors {
    border-top: #ccc dotted 1px;
    border-bottom: #ccc dotted 1px;
    background: #fff3f3;
    color: #cc0000;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 5px;
}

div.errors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.errors li {
    background: url(../images/message_types/exclamation.png) 10px no-repeat 50%;
    line-height: 20px;
    padding: 0;
    padding-left: 40px;
    font-size: 0.75em;
    margin: 0;
}

td.errors select {
    border: 1px solid #de0000;
}

td.errors input {
    border: 2px solid #de0000;
}

td.errors textarea {
    border: 1px solid #de0000;
}

.checkBoxError {
    border: red solid 2px;
}

/*input, select, textarea {*/
    /*background-color: #fcfcfc;*/
    /*border: 1px solid #bbb;*/
    /*font: 12px verdana, arial, helvetica, sans-serif;*/
    /*margin: 2px 0;*/
    /*padding: 1px 4px;*/
/*}*/
/*select {*/
   /*padding: 2px 2px 2px 0;*/
/*}*/


/*input:focus, select:focus, textarea:focus {*/
    /*border: 1px solid cornflowerblue;*/
/*}*/


/* General Font */
.fontPurpBlue {
    color: #3d0090;    
}

.fontGrayBlue {
    color: #006999;
}

.fontBlue {
    color: blue;
}

.fontGreen {
    color: #348e0b;
}

.fontBrightGreen {
    color: #009f10;
}

.fontLtBrown {
    color: #9a9000;
}

.fontBolder {
    font-weight: bolder;
}

.fontBlack {
    color: #000;
}

.fontDkGray {
    color: #666666;
}

.fontVerdana {
    font-family: verdana;
}

.fontItalics {
    font-style: italic;
}

.font10 {
    font-size: 10px;
}

.font11 {
    font-size: 11px;
}

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.font16 {
    font-size: 16px;
}

.font17 {
    font-size: 17px;
}

.font18 {
    font-size: 18px;
}

/* General Alignment */
.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignTop {
    vertical-align: text-top;
}

.alignMiddle {
    vertical-align: middle;
}

/** General Padding */
.padLeft4 {
    padding-left: 4px;
}

.padLeft15 {
    padding-left: 15px;
}

.padLeft30 {
    padding-left: 30px;
}

.padLeft41 {
    padding-left: 41px;
}

.padLeft60 {
    padding-left: 60px;
}

.padLeft80 {
    padding-left: 80px;
}

.padLeft110 {
    padding-left: 110px;
}

.padLeft114 {
    padding-left: 114px;
}

.padRight10 {
    padding-right: 10px;
}

.padRight30 {
    padding-right: 30px;
}

.padRight50 {
    padding-right: 50px;
}

.padTop5 {
    padding-top: 5px;
}

.padTop7 {
    padding-top: 7px;
}

.padTop8 {
    padding-top: 8px;
}

.padTop10 {
    padding-top: 10px;
}

.padBottom5 {
    padding-bottom: 5px;
}

.padBottom20 {
    padding-bottom: 20px;
}

/** General Heights **/
.height30 {
    height: 30px;
}

.height32 {
    height: 32px;
}

.height200 {
    height: 200px;
}

.height460 {
    height: 460px;
}

/** General Widths **/
.width10 {
    width: 10px;
}

.width18 {
    width: 18px;
}

.width25 {
    width: 25px;
}

.width30 {
    width: 30px;
}

.width48 {
    width: 48px;
}

.width50 {
    width: 50px;
}

.width56 {
    width: 56px;
}

.width60 {
    width: 60px;
}

.width80 {
    width: 80px;
}

.width95 {
    width: 95px;
}

.width108 {
    width: 108px;
}

.width113 {
    width: 113px;
}

.width117 {
    width: 117px;
}

.width120 {
    width: 120px;
}

.width126 {
    width: 126px;
}

.width150 {
    width: 150px;
}

.width180 {
    width: 180px;
}

.width250 {
    width: 250px;
}

.width390 {
    width: 390px;
}

.width391 {
    width: 391px;
}

.width394 {
    width: 394px;
}

.width100Pct {
    width: 100%;
}

/* General Background Colors */
.bkGdColorWhite {
    background-color: #fff;
}

.bkGdColorKhaki {
    background-color: #f7eecd;
}

.bkGdColorLtGray {
    background-color: #e1e5e8;
}

.bkGdColorLtBlue {
    background-color: #b3c8f0;

}

.bkGdColorLtYellow {
    background-color: #ffffcc;
}

/* Registration */
.registrationDiv {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: #eee;
    border: #999 solid 4px;
}

.registrationTable {
    font-family: arial;
    margin-left: auto;
    margin-right: auto;
    width: 680px;
}

.registrationTitle {
    text-align: center;
    font-size: 18px;
}

.jcaptchaBorder {
    border: #999999 solid 1px;
    width: 100px;
    position: relative;
}

/* Local Login */
.localLoginDiv {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    background-color: #eee;
    border: #999 solid 4px;
}

.localLoginTable {
    font-family: arial;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

/* General Div Window */
.generalDivWindow {
    width: 100%; /*background-color: #eee;*/
    padding-top: 10px;
    padding-bottom: 10px; /*border: #999 solid 1px;*/
}

/* Create Review */
.createReviewTable {
    font-family: arial;
    margin-left: 24px;
    margin-right: auto;
    width: 830px;
}

.createReviewTitle {
    text-align: left;
    font-size: 18px;
}

.inputText {
    letter-spacing: 1px;
    font-family: verdana;
    border: #999999 solid 2px;
    color: #0000cc;
}

/* General Areas */
.areaBorder {
    border: #999999 solid 2px;
}

.areaHdrFont {
    color: #333333;
    letter-spacing: 1px;
    font-size: 14px;
    text-decoration: underline;
}

.areaBorderTopGray {
    border-top: gray solid 1px;
}

/* General Borders */
.borderTopThinGrayDotted {
    border-top: gray dotted 1px;
}

.borderBtmThinGray {
    border-bottom: gray solid 1px;
}

/*Content File*/
.fileTableHeader {
    height: 25px;
    background-color: #c8dbe6;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
    border-top: white solid 1px;
    border-right: white solid 1px;
}

.fileTableData {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: #f7f7f7;
    border-top: white solid 1px;
    border-right: white solid 1px;
}


