<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Dashboard</a></li>
    <li><a ng-href="#">Identify</a></li>
    <li><a ng-href="#">Plan</a></li>
    <li><a ng-href="#">Work</a></li>
    <li><a ng-href="#">Sustain</a></li>
  </ul>
  <h3 class="text-muted">ScrumTime</h3>
</div>

<div class="jumbotron">
  <h1>Dashboard</h1>
  <p class="lead">    
    Placeholder for dashboard view
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">New Project</a></p>
</div>

<div class="row marketing">
  <h4>Placeholder</h4>
  <p>
    This is a paragraph used to set the look and feel of ScrumTime 1.0 .
  </p>

</div>

<div class="footer">
  <p>Pre-Release 1.0</p>
</div>
