/* Common */
body{
	padding: 0; 
	margin: 0; 
	font: 0.7em Tahoma, Arial, sans-serif; 
	line-height: 1.6em; 
	background: #fff; 
	color: #454545;
}
#pageHeader {	
	height:114px;
	background-color:white;
	position:absolute;
	width:100%;
	z-index:1;
}

#pageCenterDiv{
	margin: 0px auto;
	width:960px;
	background:#fff;
	height:700px;
	position:absolute;
	z-index:2;
	left:50%;
	margin-left:-480px;
}

#pageTitleDiv{	
	height:80px;
}

#pageLogo {	
	float:left;
	margin-top:22px;
	margin-left: 12px;
}

#pageLogoGraph 
{
    float:left;
    margin-top:25px;
    margin-left:-2px;
}

#pageTagline{
	font-family: arial;
	color: rgb(153, 153, 153); 
	font-size: 20px; 
	text-align: right; 
	padding-right: 0px;
	padding-top:30px;
}

#footerBackgroundDiv {
	background: #fff url('../Images/Tabs/MenuBaseBg.png') repeat-x;
	height:25px;
	position:absolute;
	width:100%;
	z-index:1;
	top:670px;		
}

#pageCenterFooterDiv{
	margin: 0px auto;
	width:960px;
	background:#eee;
	height:20px;
	position:absolute;
	z-index:20;
	left:50%;
	margin-left:-480px;
	border: 2px solid gray;
	top:693px;
	color:#222;
}

.simpleLink:active{
    text-decoration:none; 
    color:#666;
}

.simpleLink:visited{
    text-decoration:none; 
    color:#666;
}
.simpleLink:link{
    text-decoration:none; 
    color:#666;
}

.simpleLink:hover{
    text-decoration:underline;
    color:#222;
}

.noticableLink:active{
    text-decoration:none; 
    color:#0035a0;
}

.noticableLink:visited{
    text-decoration:none; 
    color:#0035a0;
}
.noticableLink:link{
    text-decoration:none; 
    color:#0035a0;
}

.noticableLink:hover{
    text-decoration:underline;
    color:#0035a0;
}

.storyTable{
    background-color: #fff;
}

.storyAltRows{
    background-color: #def1f8;
}

.taskTable{
    background-color: #ffffff;  
}

.taskAltRows{
    background-color: #def1f8;
}
