/* Common */
body{
	padding: 0; 
	margin: 0; 
	font: 0.7em Tahoma, Arial, sans-serif; 
	line-height: 1.6em; 
	background: #d1d1d1; 
	color: #454545;
}
#pageHeader {	
	height:124px;
	background-color:#fff;
	position:absolute;
	width:100%;
	z-index:1;
}

#pageCenterDiv{
	margin: 0px auto;
	width:992px;
	background:#fff;
	height:670px;
	position:absolute;
	z-index:2;
	left:50%;
	margin-left:-496px;
}

#pageTitleDiv{	
	height:80px;
}

#pageLogo {	
	float:left;
	margin-top:22px;
	margin-left: 12px;
}

#pageLogoGraph 
{
    float:left;
    margin-top:25px;
    margin-left:-2px;
}

#pageTagline{
	font-family: arial;
	color: rgb(153, 153, 153); 
	font-size: 20px; 
	text-align: right; 
	padding-right: 0px;
	padding-top:30px;
}


#pageCenterFooterDiv
{
    font-size:12px;
	margin: 0px auto;
	width:988px;
	background:#eee;
	height:20px;
	position:absolute;
	z-index:20;
	left:50%;
	margin-left:-496px;
	border: 2px solid #aaaaaa;
	top:675px;
	color:#666;
}

.simpleLink:active{
    text-decoration:none; 
    color:#666;
}

.simpleLink:visited{
    text-decoration:none; 
    color:#666;
}
.simpleLink:link{
    text-decoration:none; 
    color:#666;
}

.simpleLink:hover{
    text-decoration:underline;
    color:#222;
}

.simpleLink:active img{
    border:0;
}

.simpleLink:visited img{
    border:0;
}

.simpleLink:link img{
    border:0;
}

.simpleLink:hover img{
    border:0;
}

.noticableLink:active{
    text-decoration:none; 
    color:#0035a0;
}

.noticableLink:visited{
    text-decoration:none; 
    color:#0035a0;
}
.noticableLink:link{
    text-decoration:none; 
    color:#0035a0;
}

.noticableLink:hover{
    text-decoration:underline;
    color:#0035a0;
}

.storyTable{
    background-color: #fff;
}

.storyAltRows{
    background-color: #ddd;
}

.taskTable{
    background-color: #ffffff;  
}

.taskAltRows{
    background-color: #def1f8;
}
