<div id="pageFooterDiv">
    <div style="float: left; font-size: 11px; margin-left: 4px">
        <a class="simpleLink" style="font-size: 11px; color: #75a22a;" href="http://scrumtime.org">@AppInfoHelper.AppName</a>
    </div>
    <div style="float: right; margin-right: 4px; font-size: 10px;">
        @AppInfoHelper.ReleaseTitle
    </div>
</div>
